@import url(typo.css);

body{
    display: flex;
}

h1, #titleScroll {
    font-family: "BBposterWhiteItalic", Times, Helvetica, sans-serif;
    font-size: var(--font-size-6xl);
    line-height: .75;
}

#titleScroll{
    writing-mode: vertical-rl;
    font-size: var(--font-size-xl);
    z-index: 12;
    
}

h1 {
    margin-bottom: 30px;
}



main {
    padding: 5%;

}

p {
    line-height: 1.4;
    margin-bottom: 20px;
}

img {
    width: 100%;
    margin-bottom: 20px;
}

#arrow {
    display: flex;
    align-items: center;
    z-index: 30;
    font-size: var(--font-size-xl);


}

#nightButton {
    border: none;
    background: none;
    position: static;
    font-size: var(--font-size-xl);

}

nav {
    margin-left: 30%;

}

#porfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 80%;
    text-align: center ;

}








/* !!!!!!!!!!!!!!!!!!!!!!!!!!! RESPONSIVE !!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* IPAD PORTRAIT*/
@media only screen and (min-width: 641px) and (max-width: 1280px) {
    main {
        padding: 5% 13% 0% 13%;
    }
}

/* DESKTOP */
@media only screen and (min-width: 1280px) {




    h1 {
        display: none;
    }



    #stickyContainer {
        position: absolute;
        width: 50vw;
        justify-content: space-evenly;
    }


    nav {
        flex-direction: column-reverse;
        padding: 5% 5% 3% 5%;
        /* filter: invert(1);*/
        /* mix-blend-mode: difference; */
        margin-left: 0;

    }

    #arrow {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }



    #arrow :nth-child(2) {
        order: 1;
    }


    h1, #titleScroll {
        font-size: var(--font-size-4xl);
        writing-mode: horizontal-tb;
        text-align: center;
    }


    #arrow {
        font-size: var(--font-size-xl);
    }

    main {
        padding: 3%;
    }

    #porfolio > * {
        line-height: 80%;
        
    
    }
    

}

