root: {
    --main-bg-color: #f7f2e6;
    --main-color-text: #251A10;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color-text);
}




/* !!!!!!!!!!!!!!!!!!!!!!!!!!! RESPONSIVE !!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* IPAD PORTRAIT*/
@media only screen and (min-width: 641px) and (max-width: 1280px) {

}

/* DESKTOP */
@media only screen and (min-width: 1280px) {

}