/* TOUT SE QU'IL CONCERNE LA TYPO */

:root{
--font-size-sm: clamp(0.71rem, -0.09vw + 0.73rem, 0.67rem);
--font-size-base: clamp(0.89rem, 0.23vw + 0.84rem, 1rem);
--font-size-md: clamp(1.11rem, 0.7vw + 0.86rem, 1.5rem);
--font-size-lg: clamp(1.39rem, 1.76vw + 0.93rem, 2.25rem);
--font-size-xl: clamp(1.74rem, 3.35vw + 0.99rem, 3.38rem);
--font-size-2xl: clamp(2.17rem, 5.92vw + 0.86rem, 5.06rem);
--font-size-3xl: clamp(2.71rem, 9.98vw + 0.49rem, 7.59rem);
--font-size-4xl: clamp(3rem, 11vw + 0.30rem, 9rem);

--font-size-6xl: clamp(6rem, 13vw + 3rem, 15rem);


--main-bg-color: #f7f2e6;
--main-color-text: #22170C;


}


/* DECLARATION DES FONTES */

@font-face {
    font-family: "BBbrutVariable";
    src: url(fonts/BoogyBrutVariable.woff2) format("woff2-variations");
}

@font-face {
    font-family: "BBposterWhiteItalic";
    src: url(fonts/BoogyBrutPoster-WhiteItalic.otf);
    font-weight: 400;
}



body {
    font-family: "BBbrutVariable", serif;
    font-weight: 450;
    font-feature-settings: normal;
    font-size: var(--font-size-md);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);

}


img{
    z-index: 18;
    filter: invert(0) drop-shadow(0px 0px 3px #f7f2e6) drop-shadow(0px 0px 5px #f7f2e6) drop-shadow(0px 0px 10px #f7f2e6) drop-shadow(0px 0px 15px #f7f2e6) drop-shadow(0px 0px 20px #f7f2e6) drop-shadow(0px 0px 25px #f7f2e6);

}


#nightButton {
    font-size: var(--font-size-2xl);
    color: var(--main-color-text);
    border: none;
    background: none;
    position: fixed;
    right: 20px;
    top: 10px;
}

#scrollPercentLabel, #porfolio{
    font-family: "BBposterWhiteItalic";
}


body.dark-theme {
    background-color: var(--main-color-text);
    color: var(--main-bg-color);
    font-weight: 330;
}

body.dark-theme img {
    filter: invert(1) drop-shadow(0px 0px 0px #22170C) drop-shadow(0px 0px 5px #22170C) drop-shadow(0px 0px 10px #22170C) drop-shadow(0px 0px 15px #22170C) drop-shadow(0px 0px 20px #22170C) drop-shadow(0px 0px 25px #22170C);

}

body.dark-theme #nightButton {
    color: var(--main-bg-color);
}





/* !!!!!!!!!!!!!!!!!!!!!!!!!!! DARK PREFERENCE !!!!!!!!!!!!!!!!!!!!!!!!!!! */



@media (prefers-color-scheme: dark) {

    body {
    background-color: var(--main-color-text);
    color: var(--main-bg-color);
    font-weight: 330;

  }
  
  #nightButton {
    color: var(--main-bg-color);
  }

  img {
    filter: invert(1) drop-shadow(0px 0px 0px #22170C) drop-shadow(0px 0px 5px #22170C) drop-shadow(0px 0px 10px #22170C) drop-shadow(0px 0px 15px #22170C) drop-shadow(0px 0px 20px #22170C) drop-shadow(0px 0px 25px #22170C);

}


  body.light-theme {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-weight: 450;


  }

  body.light-theme #nightButton {
    color: var(--main-text-color);
}


  body.light-theme img {
    filter: invert(0) drop-shadow(0px 0px 3px #f7f2e6) drop-shadow(0px 0px 5px #f7f2e6) drop-shadow(0px 0px 10px #f7f2e6) drop-shadow(0px 0px 15px #f7f2e6) drop-shadow(0px 0px 20px #f7f2e6) drop-shadow(0px 0px 25px #f7f2e6);


    }

}






/* !!!!!!!!!!!!!!!!!!!!!!!!!!! RESPONSIVE !!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* IPAD PORTRAIT*/
@media only screen and (min-width: 641px) and (max-width: 1280px) {

}

/* DESKTOP */
@media only screen and (min-width: 1280px) {
    @font-face {
        font-family: "BBposterWhiteWild";
        src: url(fonts/BoogyBrut-PosterWhiteWild.otf);
        font-weight: 800;
    }

    #scrollPercentLabel, #porfolio {
        font-family: "BBposterWhiteItalic";
        font-size: var(--font-size-2xl);
    }

    
    

}




